@model academica.Models.Alumno

@{
    ViewData["Title"] = "Delete";
}
<h3>Esta seguro de eliminar el registro de la pelicula?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Director)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Director)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sinopsis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sinopsis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Duracion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Duracion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Clasificacion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Clasificacion)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="idAlumno" />
        <input type="submit" value="Eliminar Alumno" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-success">Regresar al listado de peliculas</a>
    </form>
</div>
