@model IEnumerable<academica.Models.Alumno>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="Create">Nueva Pelicula</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Director)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sinopsis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duracion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clasificacion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Director)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sinopsis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duracion)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Clasificacion)
                </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.idAlumno">Modificar</a> |
                <a asp-action="Details" asp-route-id="@item.idAlumno">Detalle</a> |
                <a asp-action="Delete" asp-route-id="@item.idAlumno">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
